.idea
.git
Launchermc/.git
Launchermc/.gradle
Launchermc/.idea
Launchermc/build
Launchermc/src/main/java/fr/paulem/launcher/game/MinecraftInfos.java
LauncherUpdater/.gradle
LauncherUpdater/.idea
LauncherUpdater/build
Setup
installer.log